#
# /!\ Please maintain this file sorted alphabetically.
# check it with
# diff <(sed '/^#/d; /^$/d' .tool-versions | sort) <(sed '/^#/d; /^$/d' .tool-versions) && echo ".tool-versions is sorted correctly" || echo ".tool-versions is not sorted correctly"

# renovate: datasource=github-releases depName=aws/aws-cli
awscli 2.15.42

# renovate: datasource=golang-version depName=golang
golang 1.22.2

# renovate: datasource=github-releases depName=casey/just
just 1.25.2

# renovate: datasource=github-releases depName=pre-commit/pre-commit
pre-commit 3.7.0

# renovate: datasource=github-releases depName=hashicorp/terraform
terraform 1.8.2

# TODO: rosa and oc not supported
# TODO: add helm
